body {
    color: #2B2620;
    background-color: #F5F0E6;
    font-family: Georgia, serif;
}
body {
    background-color: black;
    color: #FF00D1;
}
.subtitle {
    color: red;
    border: 2px solid black;
}
#page-title {
    font-size: 15px;
    color: navy;
}
#my_name {
    font-size: 150px;
    color: #FF00D1;
}