body {
    color: #2B2620;
    background-color: #F5F0E6;
    font-family: Georgia, serif;
}
body {
    background-color: black;
    color: #FF00D1;
}
.subtitle {
    color: red;
    border: 2px solid #FF00D1;
    padding: 20px;
    margin: auto;
    width: 200px;
}
#my-name {
    font-size: 75px;
    color: #FF00D1;
}
#favorites-list {
    margin-bottom: 40px;
}
#my-table {
    margin-bottom: 40px;
}