body {
    color: #2B2620;
    background-color: #F5F0E6;
    font-family: Georgia, serif;
}
body {
    background-color: black;
    color: #FF00D1;
}
.subtitle {
    color: red;
    border: 2px solid black;
    padding: 20px;
    margin: 40px;
}
#my-name {
    font-size: 75px;
    color: #FF00D1;
}